* {
    box-sizing: border-box;
    background-color: #ffffff;
}

body {
    height: 100vh;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: #CE7B91;
    background-color: transparent;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, section {
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h2 {
    color: #20A39E;
    padding-top: 0px;
    margin: 10px;
    background-color: transparent;
}

#tutorials, #homework, #inspiration, #lectures {
    color:#011627;
}

p, li {
    
    line-height: 1.25em;
    font-family: 'Playfair Display', serif;
    margin: 10px;
    color: #011627;
    background-color: transparent;
}

h1 {
    font-size: 36px;
}

#inspiration a, 
#inspiration a:link,
#inspiration a:visited,
#lectures a, 
#lectures a:link,
#lectures a:visited,
#homework a, 
#homework a:link,
#homework a:visited,
#tutorials a, 
#tutorials a:link,
#tutorials a:visited
{
    color: #011627;
}

#inspiration a:hover, 
#lectures a:hover, 
#homework a:hover, 
#tutorials a:hover
{
    color: #CE7B91;
}

footer {
    background-color: #CE7B91;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }


  @media (max-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    } 
  }