* {
    box-sizing: border-box;
    background-color: #deabbf;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    color: black;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #deabbf;
    padding-top: 40px;
    padding-bottom: 40px;
}
