* {
    box-sizing: border-box;
  }
  
  .item {
    border: 0px solid black;
    border-radius: 6px;
  }
  
  .task-3.container {
    height: 100vh;
    font-size: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr .5fr 1.5fr .5fr 2fr .5fr;
    grid-template-rows: 10vh 30vh auto 15vh 2vh;
    grid-template-areas: 
      "header header header header header header" 
      ". back tops forward menu ."
      ". back bottoms forward menu ."
      ". back shoes forward menu ."
      "footer footer footer footer footer footer";
  }
  
  .task-3 header {
    grid-area: header;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
    font-size: 3em;
    margin-top: 5px;
    padding-left: 15px;
    background-color: white;
    color: #333;
    border: solid 0px black;
    position: fixed;
    width: 100vw;
  }
  
  .task-3 .tops {
    grid-area: tops;
    background-image: url('images/tops/blacktank.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px solid black;
  }

  .task-3 .bottoms {
    grid-area: bottoms;
    background-image: url('images/bottoms/bdgshort.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px solid black;
  }

  .task-3 .shoes {
    grid-area: shoes;
    background-image: url('images/shoes/hokas.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px solid black;
  }
  
  .task-3 .menu {
    grid-area: menu;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 100%;
    padding: 3px;
    justify-content: space-around;
  }

  .menu .topimage {
    cursor: pointer;
    width: 31%;
    height: 25%;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    background-position: center;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  .topimage:active {
    border: solid 1px black;
  }

  .menu .bottomimage {
    cursor: pointer;
    width: 31%;
    height: 25%;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    background-position: center;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  .bottomimage:active {
    border: solid 1px black;
  }

  .menu .shoeimage {
    cursor: pointer;
    width: 31%;
    height: 25%;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    background-position: center;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  .shoeimage:active {
    border: solid 1px black;
  }
  
  .task-3 .back {
    grid-area: back;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 3vh;
    cursor: pointer;
  }

  .task-3 .forward {
    grid-area: forward;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 3vh;
    cursor: pointer;
  }
  
  .task-3 .footer {
    grid-area: footer;
  }
  
  @media (max-width: 1020px) {
    .task-3.container {
      height: 100vh;
      display: grid;
      grid-template-columns: .5fr 4fr .5fr;
      grid-template-rows: 8vh 17vh 23vh 10vh 5vh 35vh 2vh;
      grid-template-areas: 
        "header header header" 
        "back tops forward"
        "back bottoms forward"
        "back shoes forward"
        ". . ."
        "menu menu menu" 
        "footer footer footer";
    }

  }